.main {
  max-width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  font-family: cursive;
}

h1 {
  text-align: center;
}

.book-info {
  padding: 10px 0;
  border-bottom: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.book-info p {
  margin: 0;
}

form {
  padding: 20px 0;
}

.form-group {
  margin-bottom: 20px;
}

.book-list-container {
  width: 100%;
  border: 3px solid black;
}
